::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--vscode-scrollbarSlider-background);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--vscode-scrollbarSlider-hoverBackground);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--vscode-scrollbarSlider-activeBackground);
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
body {
    margin: 0;
}
html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

html {
    height: 100%;
}

input, select, textarea, button {
    font: inherit;
}

a {
    color: inherit;
	text-decoration: none;
}

i.fa-help {
    color: green;
    float:right;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

:focus {
    outline: none;
}
.arrow {
    border: 5px solid transparent;
    border-right: 5px solid var(--vscode-scrollbarSlider-background);
    width: 0;
    margin-top: 15px;
    height: 0;
}

a.image-link {
    border: 0;
}
.avatar{
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
}

.avatar img {
    min-width: 100%;
    min-height: 100%;
}
.btn-text, .btn-text:hover {
    color: #aca49a;
    background-color: transparent;
    border-color: transparent;
}